[Unit]
Description=Darkquai AI Interface
After=scout.service network-online.target
Wants=scout.service

[Container]
Image=ghcr.io/open-webui/open-webui:main
PublishPort=3000:8080
# Use host networking to talk to localhost:8081 easily
Network=host
Volume=/var/lib/ai-storage/openwebui:/app/backend/data:z
Environment=OPENAI_API_BASE_URL=http://localhost:8081/v1
Environment=ENABLE_RAG_WEB_SEARCH=True

[Service]
Restart=always

[Install]
WantedBy=default.target
